---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/Event">

<header class="post-header field-trip-head">
    <h1 class="event-title p-name" itemprop="name">Field Trip: {{ page.title | escape }}</h1>
    <p class="event-leader">
      {%- if page.leader -%}
		Leader: <span itemprop="performer" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.leader }}</span></span>
      {%- endif -%}</p>
  </header>
<div id="eventInformation">
<div id="eventCost" class="eventInfoColumn">
<h3>Entry Fee</h3>
<p>Members: Free</p>
<p>Visitors: {{ site.fieldtrip_cost }}</p>
</div>
<div id="eventDateTime" class="eventInfoColumn">      
<h3>Date and Time</h3>
<p>
<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="startDate">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time></p>
	  <p>{{ page.date | date: "%R" }}
	  {%- if page.enddate -%}
	  -<time class="dt-published" datetime="{{ page.enddate | date_to_xmlschema }}" itemprop="startDate">{{ page.enddate | date: "%R" }}</time>
	   {%- endif -%}
	  </p>
	  </div>
<div id="eventLocation" class="eventInfoColumn" itemprop="location">
<h3>Location</h3>
<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">{{ page.location }}</p>
</div>
</div>
<hr>
  <div class="eventContent e-content" itemprop="description">
  <h3>Field Trip Description</h3>
    {{ content }}
  </div>
<hr>
<div class="share-section">
<h3>Share with Friends</h3>
<a target="_blank" class="social-share-link" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}">Share on Facebook</a>
<a target="_blank" class="social-share-link" href="https://twitter.com/intent/tweet?text=Check%20out%20%22A%20{{ page.title }}%22%20{{ site.url }}{{ page.url }}">Share on Twitter</a>
<a target="_blank" class="social-share-link" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary=&source=bathgeolsoc.org.uk">Share on LinkedIn</a>
<a target='_blank' class="social-share-link" href="mailto:?subject={{ page.title }}&amp;body={{ site.url }}{{ page.url }}" title="Email Sharing">Share by Email</a>
<a target="_blank" class="social-share-link" href = "whatsapp://send?text={{ page.url }}">Share on Whatsapp</a>
</div>
<hr>
<div class="event-map">
<h3>Location Map</h3>
<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox={{ page.longitude | minus: page.zoom}}%2C{{ page.latitude | minus: page.zoom}}%2C{{ page.longitude | plus: page.zoom}}%2C{{ page.latitude | plus: page.zoom}}&amp;layer=mapnik&amp;marker={{ page.latitude }}%2C{{ page.longitude }}" style="pointer-events: none;"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat={{ page.latitude }}&amp;mlon={{ page.longitude }}#map=16/{{ page.latitude }}/{{ page.longitude }}">View Larger Map</a></small>
</div>
<hr>
<div>
<h3>Important Notice: Bath Geological Society Insurance</h3>
<p>Each person attending a field meeting does so on the understanding that he/she attends at his/her own risk. The Bath Geological Society has Public Liability Insurance Cover for field and indoor meetings, but Personal Accident Cover and Personal Liability Cover remain the responsibility and personal choice of the participant.</p>
<p>There may be an element of appropriate cover included in house insurance or in travel insurance: although Bath Geological Society activities are not particularly dangerous members are advised to check whether exclusions apply to activities in which they plan to participate in case they wish to arrange further cover. An annual travel insurance may be the best solution for any member who regularly attends field events: this again is a matter of choice.</p>
<p>Please note however that all members participating in overseas events will be required to have travel insurance for the duration of the event: this is so that participants are covered for Medical, Repatriation and Personal Liability expenses. The Personal Accident element remains the personal choice of the member and again members are advised to check exclusions so that they can make an informed decision about the cover they want.</p>
<br>
</div>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
