---
layout: default
---
<header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>
<div class="journal-search-bar search-bar">
<label for="searchfield">Search</label>
<form id="searchform" onsubmit="return false">
<input placeholder="Search journal articles" type="text" id="searchfield" name="search" value size="30" maxlength="128">
<input type="submit" class="invisible">
		</form>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  <label for="edit-start">Year</label>
  <select id="year-select" onchange="filterEvents()">
    <option value="" selected>---</option>
  {% if site.data.journal_articles.size > 0 %}
  {% assign articleDateList = site.data.journal_articles | sort: 'year' | reverse %}
  {% assign currentyear = 0 %}
  {% for article in articleDateList %}
  {% assign articleyear = article.year %}
  {% if currentyear!=articleyear %}
  {% assign currentyear = articleyear %}
	  <option value="{{ currentyear }}">{{ currentyear }}</option>
  {% endif %}
{% endfor %}
{% endif %}
  </select>
  <label for="topic">Topic</label>
  <select id="topic-select" onchange="filterEvents()">
  <option value="">---</option>
  {% if site.data.journal_articles.size > 0 %}
  {% assign articleTopicList = site.data.journal_articles | sort: 'topic' %}
  {% assign currentTopic = '' %}
	{% for article in articleTopicList %}
  {% if currentTopic!=article.topic %}
  {% assign currentTopic = article.topic %}
  <option value="{{ currentTopic }}">{{ currentTopic }}</option>
  {% endif %}
{% endfor %}
{% endif %}
</select>
  <p class="searchcount"></p>
</div>
<br>
<div id="article-results">
</div>  
<script>
window.store = [
	{% for journal_article in site.data.journal_articles %} {
		"title": {{journal_article.title | jsonify}},
		"author": {{journal_article.author | jsonify}},
		"year": {{ journal_article.year | jsonify }},
		"topic": {{ journal_article.topic | jsonify }},
		"url": {{ journal_article.url | jsonify }},
		"issue": {{ journal_article.issue | jsonify }},
		"page": {{ journal_article.page | jsonify }}
	}
	{% unless forloop.last %}, {% endunless %}
	{% endfor %}
]
</script>
<script type="text/javascript" src="/assets/search-journal.js"></script>