---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/Event">
<link itemprop="image" href="/assets/favicon-96x96.png" />
<header class="post-header lecture-head">
    <h1 class="event-title p-name" itemprop="name">
	{%- if page.type != 'agm' -%}
	Lecture:&nbsp;
	{%- endif -%}
	{{ page.title | escape }}</h1>
    <p class="event-leader">
      {%- if page.speaker -%}
		Speaker: <span itemprop="performer" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.speaker }}</span></span>
      {%- endif -%}</p>
  </header>
<div id="eventInformation">
<div id="eventCost" class="eventInfoColumn">
<h3>Entry Fee</h3>
<p>Members: Free</p>
	{%- if page.type != 'agm' -%}
<p>Visitors: {{ site.lecture_cost }}</p>
	{%- endif -%}
</div>
<div id="eventDateTime" class="eventInfoColumn">      
<h3>Date and Time</h3>
<p>
<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="startDate">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time></p>
	<p>
	{%- if page.type == 'agm' -%}
	19:00 - 19:30
	{%- else -%}
	19:30 - <time class="dt-published" datetime="2020-03-05T20:30:00+00:00" itemprop="endDate">20:30</time>
	{%- endif -%}
	</p></div>
<div id="eventLocation" class="eventInfoColumn" itemscope itemprop="location" itemtype="http://schema.org/Place">
<h3>Location</h3>
<p>
{%- if page.location -%}
<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">{{ page.location }}</p>
{%- else -%}
<span itemprop="name">Bath Royal Literary and Scientific Institution</span>, <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">16-18 Queen Square</span>, <span itemprop="addressLocality">Bath</span> <span itemprop="postalCode">BA1 2HN</span></span>
{%- endif -%}
</p>
</div>
</div>
<hr>
  <div class="eventContent e-content" itemprop="description">
  <h3>Lecture Description</h3>
    {{ content }}
  </div>
<hr>
<div class="share-section">
<h3>Share with Friends</h3>
<a target="_blank" class="social-share-link" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}">Share on Facebook</a>
<a target="_blank" class="social-share-link" href="https://twitter.com/intent/tweet?text=Check%20out%20%22A%20{{ page.title }}%22%20{{ site.url }}{{ page.url }}">Share on Twitter</a>
<a target="_blank" class="social-share-link" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary=&source=bathgeolsoc.org.uk">Share on LinkedIn</a>
<a target='_blank' class="social-share-link" href="mailto:?subject={{ page.title }}&amp;body={{ site.url }}{{ page.url }}" title="Email Sharing">Share by Email</a>
<a target="_blank" class="social-share-link" href = "whatsapp://send?text={{ page.url }}">Share on Whatsapp</a>
</div>
<hr>
<div class="event-map">
<h3>Location Map</h3>
<iframe style="pointer-events: none;" width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-2.3732936382293706%2C51.380365933529596%2C-2.355376482009888%2C51.386157931236696&amp;layer=mapnik&amp;marker=51.38326537198559%2C-2.364335060119629" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=51.38327&amp;mlon=-2.36434#map=17/51.38326/-2.36434">View Larger Map</a></small>
</div>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
