---
layout: default
---
<header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>
  
<div style="text-align: center; padding: 10px 0; margin-bottom: 20px;">
  <p style="margin: 0; font-size: 1.1em;">Do you have an idea for a future event? <a href="https://docs.google.com/forms/d/e/1FAIpQLSc_VenDsXekOb2DJjhnM_pqnlgihKTMVeyjk8dCjcukbOcEjQ/viewform" target="_blank" rel="noopener noreferrer">Click here to suggest a lecture or field trip</a>.</p>
</div>
 
<div class="journal-search-bar search-bar">
<label for="searchfield">Search</label>
<form id="searchform" onsubmit="return false">
<input placeholder="Search member's area" type="text" id="searchfield" name="search" value size="30" maxlength="128">
<input type="submit" class="invisible">
		</form>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  <label for="edit-start">Year</label>
  <select id="year-select" onchange="filterEvents()">
    <option value="" selected>All</option>
  {% if site.data.members_area.size > 0 %}
  {% assign articleDateList = site.data.members_area | sort: 'year' | reverse %}
  {% assign currentyear = 0 %}
  {% for article in articleDateList %}
  {% assign articleyear = article.year %}
  {% if currentyear!=articleyear %}
  {% assign currentyear = articleyear %}
	  <option value="{{ currentyear }}">{{ currentyear }}</option>
  {% endif %}
{% endfor %}
{% endif %}
  </select>
  <label for="type">Type</label>
  <select id="type-select" onchange="filterEvents()">
  <option value="">All</option>
  {% if site.data.members_area.size > 0 %}
  {% assign articleTypeList = site.data.members_area | sort: 'type' %}
  {% assign currentType = '' %}
	{% for article in articleTypeList %}
  {% if currentType!=article.type %}
  {% assign currentType = article.type %}
  <option value="{{ currentType }}">{{ currentType }}</option>
  {% endif %}
{% endfor %}
{% endif %}
</select>
  <p class="searchcount"></p>
</div>
<br>
<div id="article-results">
</div>  
<script>
window.store = [
	{% for members_item in site.data.members_area %} {
		"title": {{members_item.title | jsonify}},
		"subtitle": {{ members_item.subtitle | jsonify }},
		"year": {{members_item.year | jsonify }},
		"type": {{ members_item.type | jsonify }},
		"url": {{ members_item.url | jsonify }},
		"image": {{ members_item.image | jsonify }},
		"imageheight": {{ members_item.imageheight | jsonify }}
	}
	{% unless forloop.last %}, {% endunless %}
	{% endfor %}
]
</script>
<script type="text/javascript" src="/assets/search-members-area.js"></script>